.content{
    clear: both;
    width: 924px;
    margin-right: auto;
    margin-left: auto;
    min-height: 300px;
}

#first-content-column{
    min-height: 300px;
    width: 524px;
    float: right;
}
#first-content-column-a{
    min-height: 300px;
    width: 257px;
    float: right;
    margin-left: 5px;
}
#first-content-column-b{
    min-height: 300px;
    width: 257px;
    float: right;
    margin-left: 5px;

}
#second-content-column{
    min-height: 300px;
    width: 257px;
    float: right;
    margin-left: 5px;
}
#third-content-column{
    min-height: 300px;
    width: 130px;
    float: right;

}