.content{
    clear: both;
    width: 924px;
    margin-right: auto;
    margin-left: auto;
    min-height: 300px;
    margin-top: 10px;
}

#first-content-column{
    min-height: 300px;
    width: 524px;
    float: right;
}
#first-content-column-a{
    min-height: 300px;
    width: 257px;
    float: right;
    margin-left: 5px;
}
#first-content-column-b{
    min-height: 300px;
    width: 257px;
    float: right;
    margin-left: 5px;

}
#second-content-column{
    min-height: 300px;
    width: 257px;
    float: right;
    margin-left: 5px;
}
#third-content-column{
    min-height: 300px;
    width: 130px;
    float: right;

}

.panel{
    border-radius: 4px;
    border: 1px solid gray;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ddd;
    margin-bottom: 4px;
}
.panel-header{
    background-color: #eee;
    height: 35;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    font-size: 12pt;

}

.panel-title{

    font-size: 15px;
    font-weight: lighter;
    color: #555;

}
.panel-body{
    background-color: white;
    min-height: 200px;
    padding: 0 5px;
}
#lastnews{
    list-style-type:none;
    display: inline;
}
#lastnews > li{
    padding-right: 12px;
    background: transparent url(/wwwroot/images/video-bullet.png) no-repeat right 14px;
}

.news{
    color:#444;
    font-size: 11px;
    line-height: 2.5;
    text-decoration: none;
}
.news:visited{
    color:#888;
}
#lastnewsleft{
    list-style-type: none;
    display: inline;
}
#lastnewsleft > li{
    padding-right: 12px;
    background: transparent url(/wwwroot/images/video-bullet.png) no-repeat right 14px;
}