body{
    font-family: byekan !important;
    margin: 0;
    background: url(/wwwroot/images/background.png);
}

.header-top-row{
    height: 32px;
    background: #00879e;
    border-bottom: 1px solid #aaa
}
.header-top-row-container{
    width: 924px;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    min-height: 1px;
}
.header-top-row-ul {
    list-style-type: none;
    display: inline;
    margin-top: 0;
    
  }

  .header-top-row-ul li{
    display: inline;
    padding-right: 4px;
    padding-left: 4px;
    border-left: 1px solid #00768a;
  }
  .header-top-row-ul li:last-child{

    border-left: none;
  }
  .header-top-row-ul li a{
    color: white;
    text-decoration: none;
    font-size: 11px;
  }
  .header-top-row-right-ul li:last-child a{
    color:  #f3b500;
  }

  ul.header-top-row-ul.header-top-row-left-ul {
    float: left;
}
.header-top-row-ul li:hover{
    background-color: #00768a;
    transition: background .7s ease;
}




.header-logo-row{
  background-color: white;
  height: 86px;
  /* position: fixed; */
}

.header-logo-row-container{
  width: 860px;
  padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

#top-adv{
  position: absolute;
    left: 210px;
    
}